MODE = {{ MODE }}
HEADER = {{ HEADER }}
    DIM_0 = {{ DIM_0 }}
    DIM_1 = {{ DIM_1 }}
    DIM_2 = {{ DIM_2 }}
    DIM_3 = {{ DIM_3 }}
CONFNO = {{ CONFNO }}
RANDOM_TRANSFORM = {{ RANDOM_TRANSFORM }}
SEED = {{ SEED }}
GFTYPE = {{ GFTYPE }}
    GF_TUNE = {{ GF_TUNE }}
    ACCURACY = {{ ACCURACY }}
    MAX_ITERS = {{ MAX_ITERS }}
CUTTYPE = {{ CUTTYPE }}
FIELD_DEFINITION = {{ FIELD_DEFINITION }}
    MOM_CUT = {{ MOM_CUT }}
    MAX_T = {{ MAX_T }}
    MAXMOM = {{ MAXMOM }}
    CYL_WIDTH = {{ CYL_WIDTH }}
    ANGLE = {{ ANGLE }}
    OUTPUT = {{ OUTPUT }}
SMEARTYPE = {{ SMEARTYPE }}
    DIRECTION = {{ DIRECTION }}
    SMITERS = {{ SMITERS }}
    ALPHA1 = {{ ALPHA1 }}
    ALPHA2 = {{ ALPHA2 }}
    ALPHA3 = {{ ALPHA3 }}
U1_MEAS = {{ U1_MEAS }}
    U1_ALPHA = {{ U1_ALPHA }}
    U1_CHARGE = {{ U1_CHARGE }}
CONFIG_INFO = {{ CONFIG_INFO }}
    STORAGE = {{ STORAGE }}
BETA = {{ BETA }}
    ITERS = {{ ITERS }}
    MEASURE = {{ MEASURE }}
    OVER_ITERS = {{ OVER_ITERS }}
    SAVE = {{ SAVE }}
    THERM = {{ THERM }}
